/* apply styles to the entire page */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


header {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
}

.topside {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.site_name {
    width: 30%;
    padding-top: 12px;
    color: #4CAF50;
}

.site_name a {
    color: #4CAF50;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.topside.logo-1 {
    float: left;
    width: 10%;
    padding-top: 12px;
}

.topside.logo-2 {
    float: left;
    width: 10%;
    padding-top: 12px;
}

.topside.logo-3 {
    float: right;
    width: 10%;
    padding-top: 12px;
}

.auth {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 20px;
}

.login {
    width: 50%;
    padding-top: 12px;
}

.signin {
    width: 50%;
    padding-top: 12px;
}

.login button {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.signin button {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/*-----------------------------------------------------*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
/*-----------------------------------------------------*/

/* center the registration form */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* style form fields and labels */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* style error messages */
.error {
    color: #f00;
    font-size: 14px;
    margin-top: 5px;
}
